*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Arial', sans-serif;
}


body{
    background:#0f172a;
    color:white;
    min-height:100vh;
}


/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
    background:#111827;
}


.logo{
    font-size:30px;
    font-weight:bold;
    color:#38bdf8;
}


nav a{
    color:white;
    text-decoration:none;
    margin-left:35px;
    font-size:16px;
    transition:0.3s;
}


nav a:hover{
    color:#38bdf8;
}



/* HERO */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:90px 80px;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a
    );
}


.hero-text{
    width:50%;
}


.hero-text h1{
    font-size:52px;
    line-height:1.2;
}


.hero-text p{
    margin:25px 0;
    color:#cbd5e1;
    font-size:18px;
}


button{
    background:#2563eb;
    border:none;
    color:white;
    padding:15px 35px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}


button:hover{
    background:#38bdf8;
    transform:translateY(-3px);
}



/* GAMBAR HERO */

.hero-image img{
    width:350px;
    border-radius:20px;
}



/* GAME SECTION */

.games{
    padding:70px 80px;
}


.games h2{
    text-align:center;
    font-size:32px;
    margin-bottom:40px;
}



.game-card{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}



/* CARD GAME */

.card{
    background:#1e293b;
    padding:35px;
    border-radius:20px;
    width:220px;
    text-align:center;

    border:1px solid #334155;

    transition:0.3s;
}


.card:hover{
    transform:translateY(-10px);
    background:#334155;
}


.card h3{
    margin-bottom:15px;
}



/* STATUS API */

#status{
    text-align:center;
    color:#94a3b8;
    margin-bottom:20px;
}



/* RESPONSIVE */

@media(max-width:768px){

    header{
        padding:20px;
        flex-direction:column;
        gap:20px;
    }


    .hero{
        flex-direction:column;
        padding:40px 20px;
        text-align:center;
    }


    .hero-text{
        width:100%;
    }


    .hero-text h1{
        font-size:36px;
    }


    .hero-image img{
        width:250px;
        margin-top:30px;
    }


    .games{
        padding:40px 20px;
    }

}